# Exploratory Data Analysis in Python

# Introduction

**What** **is** **exploratory** **data** **analysis**?



 Exploratory Data Analysis or (EDA) is understanding the data sets by summersing their main characteristics often plotting them visually.This step is very important especially when we arrive at modeling the data in order to apply machine learning plotting in EDA consists of histograms ,box plots,scatter plots and many more.it often takes much time to explore the data .Through the process of EDA,we can understand the problem better and try to uncover hidden insights.

**How to perform Exploratory Data Analysis?**

Well ,the answer is it depends on the data set that you are working.there is no one method or common method in order to perform EDA ,where as in the note book you can understand some common methods and points that would be used in EDA process.

**what** **data** **are** **we** **exploring** **today**?

The data data set can be downloaded from [here](https://www.kaggle.com/cooperunion/cardataset).to give a piece of brief information about the data set this data contains the more of 10,000 rows and more than 10 columns which contains the features of the car such as engine fuel type,engine hp,transmission type,highway MPG,city MPG and many more.so in this notebook,we can explore the data and make it ready for modeling.

In [15]:
from google.colab import files
uploaded = files.upload()

Saving 575_1100_compressed_data.csv.zip to 575_1100_compressed_data.csv.zip

# 1.1 Importing the required libraries for EDA

In [ ]:
1 import pandas as pd
2 import numpy as np
3 import seaborn as sns
4 import matplotlib.pyplot as plt
5 %matplotlib inline

for more info on how to load dataset in colab,check this 3 ways to load data into colab

In [ ]:
1 from google.colab import files
2 uploaded = files.upload()

# 1.2 Loading the data into the data frame.

In [ ]:
1 import lo
2 df=pd.read_csv(io.bytesIO(uploaded['data.csv']))

In [ ]:
1 # to display the top 5 rows of data set
2 df.head[10]

# 1.4 checking the datatype and statistical summary.

In [ ]:
df.info()

# from the above ,data is in integer format s we can plot the data via graph

In [ ]:
#statistical summary of dataset
df.describe()

In [ ]:
df.columns

In [ ]:
#size of dataset including rows and columns
df.shape

In [ ]:
#null values in dataset
df.isnull().sum()

# droping less relevent columns

In [ ]:
df=df.drop(['engine fuel tupe','number of doors','market category'],axis=1)
df.head(5)

In [ ]:
df.columns

In [ ]:
df.shape

In [ ]:
df.isnull().sum()

# renaming columns

In [ ]:
df = df.rename (columns={"engine hp","engine cylinders","city mpg""price"})
df.head(5)

In [ ]:
df.columns

# checking for any duplicate and null values and removing them.

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

In [ ]:
df.shape

In [ ]:
df=df.dropna()
df.count()

In [ ]:
duplicate_rows_df=df[df.duplicate()]
print("number of duplicate rows:",duplicate_rows_df,shape)

In [ ]:
df.drop_duplicates(kepp=False,inplace=True)
df.shape

In [ ]:
df   =df.drop_duplicates()
df.head(10)

In [ ]:
df.info()

In [ ]:
df.isnull().sum()

# plot some graphs of some columns of the dataset

In [ ]:
sns.boxplot(x=df['cylinders'])

In [ ]:
sns.boxplot(x=df['popularity'])

In [ ]:
sns.boxplot(x=df.['MPG-H'])

In [ ]:
sns.boxplot(x=df['price'])

# checking the outliers and removing them

In [ ]:
Q1 = df.quantile(0.25)
Q3 =df.quantile(0.75)
IQR = Q3-Q1
print(IQR)

In [ ]:
df=df[-((df<(Q! - 1.5 * IQR))| (df>(Q3+105*IQR))).any(axis=1)]
df.shape

In [ ]:
((df<(Q1 - (1.5*IQR)))|(df>(Q3+(1.5*IQR))).sum)

# plot graphs of columns after removing outliers

In [ ]:
sns.boxplot(x=df['cylinders'])

# displaying the most represented car brands in the dataset

In [ ]:
#count number of top 10 car brands in the dataset.
counts = df['make'].value_counts()*100/sum(df['make'].value_counts())

#top 10 car brands
popula_labels = counts.index[:10]

#plot
plt.fih=gure(figsize=(10,5))
plt.barh(popular_label,width=counts[:10])
plt.title('top 10 car brands')
plt.show()

# fimnding the average price among the top car brands.

In [ ]:
#average price among the 10 top car brands in the dataset.
prices = df[['make','price']].loc[(df['make']== 'chervolet'|(df['make'] == 'ford')|(df['make'] == 'nissan'))]groupby('make').mean()
print(prices)

# plotting the corelation matrix

In [ ]:
#accelerate matrix
df.corr()

# document your insights using heatmap plot

In [ ]:
#plot of heatmap for different columns
plt.figure(figsize=(10,5))
c = df.corr()
sns.heatmap(c,map="BrBG",annot=true)

# After checking the heatmap plot we can conclude that:

# 1.Cylinders and HP are highly correlated with each other .

# 2. MPG-H and MPG-C are also highly correlated with each other

In [ ]:
X = df[['popularity','year','hp']].values
y = df['price']values

In [ ]:
from sklearn.preprocessing import StandardScaler
sc_x = standardscalar()
sc_y = standardscalar()
x=sc_x.fit_transform(x)
y=sc_y.fit_transform(y.reshape(-1,1))